@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
background: linear-gradient(160deg, #2b2205, #3f3908, #4b3f0a);




}

:root {
    --primary-color: #7b5e2b;     
    --secondary-color: #d18e36;     
    --font-color-primary: #fdf5e6;  
    --font-color-secondary: #f7d28d; 
    --bg-input-color: #8c6e3b;      

    /* font size */
    --font-size-xxl: 2.2rem;
    --font-size-xl: 1.8rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.2rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.9rem;

    /* font-weight */
    --font-weight-bold: 600;
    --font-weight-medium: 500;
    --font-weight-normal: 400;

    /* border radius */
    --border-radius-xl: 150px;
    --border-radius-l: 30px;
    --border-radius-m: 8px;
    --border-radius-vw: 20vw;

    /* transition */
    --transition-form-box: .6s ease-in-out 1.2s, visibility 0s 1s;
    --transition-toggle-box: 1.8s ease-in-out;
    --transition-toggle-panel: .6s ease-in-out;

    /* delay */
    --delay-short: 0.6s;
    --delay-medium: 1.2s;
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background: var(--primary-color);
    border-radius: var(--border-radius-l);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin: 20px;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    color: var(--font-color-primary);
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: var(--transition-form-box);
}

.container.active .form-box {
    right: 50%;
}

.form-box.register{
    visibility: hidden;
}


.container.active .form-box.register {
    visibility: visible;
}

form {
    width: 100%;
}

.container h1 {
    font-size: var(--font-size-xxl);
    margin: -10px 0;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: var(--bg-input-color);
    border-radius: var(--border-radius-m);
    border: none;
    outline: none;
    font-size: var(--font-size-s);
    color: var(--font-color-primary);
    font-weight: var(--font-weight-medium);
}

.input-box input::placeholder {
    color: var(--font-color-secondary);
    font-weight: var(--font-weight-normal);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-m);
    color: var(--font-color-secondary);
}

.forgot-link {
    font-size: var(--font-size-xs);
    color: var(--font-color-primary);
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 48px;
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-s);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

.container p {
    font-size: var(--font-size-xs);
    margin: 15px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-l);
    color: var(--font-color-primary);
    text-decoration: none;
    margin: 0 8px;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: var(--secondary-color);
    border-radius: var(--border-radius-xl);
    z-index: 2;
    transition: var(--transition-toggle-box);
}

.container.active .toggle-box::before{
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: var(--transition-toggle-panel);
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: var(--delay-medium);
}

.container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: var(--delay-short);
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: var(--delay-short);
}

.container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: var(--delay-medium);
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid var(--primary-color);
    box-shadow: none;
}


@media screen and (max-width: 650px) {
    .container {
        height: calc(100vh - 40px);
    }

    .form-box {
        bottom: 0;
        width: 100%;
        height: 75%;
    }

    .container.active .form-box {
        right: 0;
        bottom: 30%;
    }

    .toggle-box::before {
        left: 0;
        top: -270%;
        width: 100%;
        height: 300%;
        border-radius: var(--border-radius-vw);
    }

    .container.active .toggle-box::before {
        left: 0;
        top: 70%;
    }

    .toggle-panel {
        width: 100%;
        height: 30%;
    }

    .toggle-panel.toggle-left {
        top: 0;
    }

    .container.active .toggle-panel.toggle-left {
        left: 0;
        top: -30%;
    }

    .toggle-panel.toggle-right {
        right: 0;
        bottom: -30%;
    }

    .container.active .toggle-panel.toggle-right {
        bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .form-box {
        padding: 20px;
    }

    .toggle-panel h1 {
        font-size: var(--font-size-xl);
    }
}