* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Poppins", sans-serif;
}

:root {
    /* Color */
    --primary-color: #302c14;
    --secondary-color: #3f3908;
    --light-orange: #e0922c;
    --light-yellow: #f5d357;
    --white-color: #FFF;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 1.7rem;
    --font-size-xxl: 2.3rem;

    /* Font Weight */
    --font-weight--normal: 400;
    --font-weight--medium: 500;
    --font-weight--semibold: 600;
    --font-weight--bold: 700;


    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site Max Width */
    --site-max-width: 1300px
}

/* ======== Stylings Seluruh Element =========== */
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    align-items: center;
    background-color: var(--light-orange);
}

#nav-close-button,
#nav-open-button {
    display: none; 
}

/* Container Global */
.container {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}


/* ======== Stylings Navbar =========== */
/* Display & Layout */
header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
} 

.navbar .nav-menu {
    display: flex;
    gap: 20px;
}

.navbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbar .logo-image {
    max-height: 50px;
    width: auto;
    height: auto;
    align-content: center;
}

.navbar .logo-text {
    font-size: var(--font-size-l);
    color: var(--white-color);
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
}

.navbar .nav-menu .nav-link:hover{
    color: var(--white-color);
    background: var(--light-orange);
}




/* =========== Styling Section Home ==============*/
.home-section {
    background: var(--primary-color);
    height: 100vh;
}

.home-section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;

}

.home-section .image-wrapper img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-m);
}

.home-section .section-content .image-wrapper {
    max-width: 500px;
    margin-left: 30px;
}

.home-section .section-content .teks-hero{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    text-align: center;
}

.section-content .teks-hero h2 {
    font-family: "Sour Gummy", sans-serif;
    color: var(--light-orange);
    margin-bottom: 30px;
    font-size: var(--font-size-xl);
}



/* =========== Styling About Section ==============*/
.about-section {
    padding: 200px 0; 
    background-color:  var(--light-yellow);
}

.about-section .section-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.about-section .section-content .about-teks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    color: var(--primary-color);
    max-width: 45%;
}

.about-section .about-teks .title {
    font-size: var(--font-size-xl);
}

.about-section .about-teks .description {
    font-size: var(--font-size-m);
}

.about-section .image-wrapper img{
    border-radius: var(--border-radius-circle);
    width: 400px;
    height: 400px;
}

/* =========== Styling Product Section ==============*/
.product-section {
    background: var(--secondary-color);
    padding: 150px 0;
}

.product-section .card {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-section .card .title {
    color: var(--white-color);
    margin-bottom: 50px;
}


.product-section .card .content {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 300px));
    gap: 50px;
    justify-content: center;
}


.product-section .card .item-wrapper {
    max-width: 300px;   
    min-width: 220px;
    width: 100%;        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--light-orange);
    border-radius: var(--border-radius-m);
}

.product-section .card .image-item {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
} 

.product-section .card .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.product-section .description .product-name {
    margin-bottom: 10px;
}

.product-section .card .add-cart {
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-s);
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight--normal);
}

.product-section .card .add-cart:hover {
    background-color: var(--light-yellow);
}




/*=========== Styling Footer Section ==============*/
.footer-section {
    padding: 20px 100px;
    background: var(--primary-color)
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .section-content 
.copyright-text, 
.social-link,
.policy-link{
    color: var(--white-color); 
    transition: 0.3s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link{
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
    color: var(--light-orange);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--white-color);
}



/* Styling Untuk lebar Screen Tertentu */
@media screen and (max-width: 901px) {
    .product-section .card .content {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
        gap: 30px;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 2rem;
    }

    .home-section .section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
        margin: 0 auto;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        display: block;
        margin-top: 17px;
        font-weight: var(--font-weight--bold);
    }
    
    .navbar .nav-menu {
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--secondary-color);
        transition: left 0.5s ease;    
        z-index: 10;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
        z-index: 5;
    }
    

    .navbar #nav-open-button {
        font-size: var(--font-size-l);
        color: var(--white-color);
        display: block; 
    }
    
    .navbar  #nav-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
        display: block; 
        font-size: var(--font-size-l);
        color: var(--white-color);
    }


    
    
    /* ============ Section About ============*/
    .about-section .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-section .section-content .description{
        font-size: var(--font-size-m);
        font-weight: var(--font-weight--medium);
        color: var(--primary-color);
        
    }

    /* ============ Section Product ============*/

    .product-section .card{
        margin-top: 50px;
    }

    .product-section .card .image-item {
    width: 100%;
    max-width: 240px;
    height: 216px;
    object-fit: cover;
    } 

    .product-section .card .item-wrapper {
    flex: 0 1 calc((100% - 50px) / 2); 
    max-width: calc((100% - 50px) / 2);
    max-width: 280px;
    min-width: 220px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-orange);
    border-radius: var(--border-radius-m);
    }

    .product-section  .card .content{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px){
    .home-section {
        width: 100%;
    }
    .home-section .section-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
    }

    .home-section .section-content img {
        width: 100%;
    }

    .about-section .image-wrapper img{
    border-radius: var(--border-radius-circle);
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    }
}

/* ============================ Styling Khusus Cart dan Page-nya ============================*/

/* Logo Cart */
.navbar .nav-item i {
    position: relative;
    font-size: var(--font-size-l);
}


.navbar .nav-link.count{
    position: relative;
    display: flex;
    align-items: center;
}


.navbar .nav-item .cart-badge {
    position: absolute;
    top: -3px;
    right: 5px;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
}

.navbar .nav-item .cart-badge.hidden {
    display: none;
}

/* Display Halaman Cart */

.cart-page {
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background: var(--secondary-color);
    transition: right 0.5s ease;  
    z-index: 10;
    overflow-y: scroll;
}

body.show-display-cart .cart-page{
    right: 0;
}

.cart-page .cart-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    position: absolute;
    z-index: 2;
}

.cart-page .cart-header .title {
    color: var(--white-color);
} 

.cart-page .cart-header .close-cart {
    position: absolute;
    left: -80px;
    top: -30px;
    font-size: var(--font-size-l);
    color: var(--white-color);
}


.cart-page .content {
    flex: 1;
    overflow-y: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.cart-page .content .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-page .content .image-item {
    width: 50%;
    height: auto;
}

.cart-page .content .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: var(--font-size-s);
    color: var(--white-color);
}

.cart-page .content .qty-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.cart-page .content button {
    width: 25px;
    height: 20px;
    font-size: var(--font-size-l);
    background: var(--light-orange);
    font-weight: var(--font-weight--medium);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: var(--border-radius-s);
}